extends layout

block content
  h1 山手線すごろくのなんか状況みたいなやつ
  div#app(v-cloak)
    svg( width="640" height="480"
      viewPort="0 0 640 480" version="1.1"
      xmlns="http://www.w3.org/2000/svg")
      yamanaote-map
      each team in teams
        team-position( :station=team.station)
    each team in teams
      div(class="station")= team.station

block logs
  textarea( rows="15" cols="80")= logs.join('\n\n')
